.settlerMiniCard{
    display: flex;
    position: relative;

    justify-content: space-between;

    width: 170px;
    height: 35px;

    font-family: $font-primary;
    font-weight: 800;
    color: $color-font-black;

    background-color: $color-background-ui;

    border: 2px solid black;
    border-left: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0px rgba(black, .25);

    &-identity{
        display: flex;
        position: relative;

        justify-content: flex-end;
        align-items: center;

        width: 60%;

        &--picture{
            position: absolute;
            top: -25px;
            left: -10px;

            width: 40px;

            img{
                width: 100%;
                object-fit: contain;
            }
        }

        &--name{
            z-index: 2;

            position: relative;

            font-size: 16px;
        }
        &--background{
            position: absolute;

            svg{
                width: 80px
            }
        }
    }

    &-ressources{
        display: flex;
        position: relative;

        justify-content: center;
        align-items: center;

        width: 35%;

        &--score{
            z-index: 2;
            p {
                font-size: 13px;

                span{
                    font-size: 25px;
                }
            }
        }

        &--picture{
            opacity: 0.5;

            position: absolute;

            width: 140%;

            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }

    &-borderConflict{
        position: absolute;
        top: -8px;
        right: -4px;
    }
}

.active{
    width: 220px;

    pointer-events: none;
}