@mixin font-face($font-family, $weight, $style, $url) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('/#{$url}.eot');
        src: url('/#{$url}.eot?#iefix') format('embedded-opentype'),
             url('/#{$url}.woff2') format('woff2'),
		     url('/#{$url}.woff') format('woff'),
		     url('/#{$url}.ttf') format('truetype'),
		     url('/#{$url}.svg') format('svg');
		font-weight: normal;
        font-style: normal;
        font-display: swap;

        font-weight: $weight;
        -webkit-font-smoothing: antialiased;
        -khtml-font-smoothing: antialiased;
        -apple-font-smoothing: antialiased;
        font-smooth: always;
        -moz-osx-font-smoothing: grayscale;
	}
}

//StarlitDrive
@include font-face('Starlit', 400, 'normal', 'fonts/StarlitDrive/StarlitDrive');

//Millimetre
@include font-face('Millimetre', 300, 'light', 'fonts/Millimetre/Light/Millimetre-Light_web');
@include font-face('Millimetre', 400, 'normal', 'fonts/Millimetre/Regular/Millimetre-Regular_web');
@include font-face('Millimetre', 700, 'bold', 'fonts/Millimetre/Bold/Millimetre-Bold_web');
@include font-face('Millimetre', 800, 'extra-bold', 'fonts/Millimetre/Extrablack/Millimetre-Extrablack_web');