.page-home {
    position: relative;

    width: 100vw;
    height: 100vh;

    pointer-events: none;

    .settlers{
        display: flex;

        justify-content: space-between;

        width: fit-content;
        height: rem(250px, 'large');;

        padding-top: 35vh;

        pointer-events: auto;

        flex-direction: column;
        align-self: flex-start;
    }

    .btn-container{
        display: flex;
        position: absolute;
        bottom: 0;

        justify-content: center;
        align-content: center;

        width: 100vw;
        height: rem(100px, 'large');

        .btn{
            position: relative;

            button{
                display: inline-block;

                width: fit-content;

                padding: rem(15px, 'large')rem(50px, 'large');;

                font-family: $font-primary;
                font-weight: 700;
                font-size: rem(18px, 'large');;
                color: $color-background-ui;
                text-align: center;
                text-decoration: none;

                background-color:#F78A84;
                border: 2px solid #F78A84;
                border-radius: 3px;

                cursor: pointer;

                pointer-events: auto;
            }
            &-line{
                z-index: 2;
                opacity: 0;
                // opacity: 1;

                position: absolute;
                top: rem(-25px, 'large');

                width: 100%;
                height: auto;
            }   
        }
    }

    .timerComponent, .resultsComponent{
        display: flex;

        justify-content: center;

        width: 100vw;
    }
}