.page-home {
    position: relative;

    pointer-events: none;

    .settlers{
        display: flex;

        justify-content: space-between;

        width: fit-content;
        height: 250px;

        margin-top: 35vh;

        pointer-events: auto;

        flex-direction: column;
        align-self: flex-start;
    }
}